snippet log "colored log" b
Logger.debug("--------------------------------", ansi_color: :yellow)
Logger.debug($1, ansi_color: :yellow)
Logger.debug("--------------------------------\n", ansi_color: :yellow)
endsnippet
