# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Manuel Luna
  email = manuellunada@gmail.com

[push]
  autoSetupRemote = true
[pull]
  rebase = false

[core]
  excludesFile = ~/.gitignore
  pager = delta --side-by-side --syntax-theme kanagawa-dragon || less
  hooksPath = ~/.local/githooks

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  features = kanagawa
  line-numbers = false

[delta "kanagawa"]
    syntax-theme = kanagawa-dragon
    minus-style = reverse "#c4746e"
    minus-emph-style = reverse "#c4746e"
    minus-empty-line-marker-style = reverse "#c4746e"
    minus-non-emph-style = reverse "#c4746e"

    plus-style = reverse "#87a987"
    plus-emph-style = reverse "#87a987"
    plus-empty-line-marker-style = reverse "#87a987"
    plus-non-emph-style = reverse "#87a987"
