snippet die "crashes, just that" b
if err != nil {
	log.Fatal(err)$1
}

$2
endsnippet

snippet iferr "if err" b
if err != nil {
	return $1
}
endsnippet

snippet main "main function" b
package main

func main() {
	$1
}
endsnippet
