snippet self "self declaration" b
my $self = shift;
endsnippet

snippet arg "named argument" b
my $$1 = shift;
endsnippet

snippet retself "named argument" b
return $self;
endsnippet

snippet warnings "boilerplate" b
use strict;
use warnings;
endsnippet
