snippet shebang "shebang" b
#! /usr/bin/env ${1:bash}
endsnippet

snippet bash "bash shebang" b
#! /usr/bin/env bash

$1
endsnippet

snippet ignore_question_mark "ignore shellcheck SC2181 warning comment" b
# shellcheck disable=SC2181
endsnippet

snippet debug "printf with placeholder" b
printf "%s" "$$1"
endsnippet
