.statusbar {
	.date {
		font-size: 14px;
	}

  background-color: crimson;
  border-radius: 5px;
  color: white;

  .btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  .btn.active {
    color: crimson;
  }

  .ram,
  .volume {
    progressbar {
      trough {
        min-width: 80px;
        progress {
          background-color: crimson;
        }
      }
    }

    .label {
      font-size: 23px;
    }
    .num {
      font-size: 14px;
    }
  }

  .volume {
		.muted {
			color: gray;
		}
		padding: 0;
		background-color: transparent;
		border-color: transparent;
  }

  .left,
	.right {
    background-color: #282c34;
    border-radius: 5px;
    padding: 0 15px;
		box-shadow: 5px 5px 30px black;
  }
}
