.statusbar {
	background-color: crimson;
	border-radius: 5px;
	color: white;

  .btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

	.btn.active {
		color: #d1263f;
	}

  .ram {
    progressbar {
      trough {
        min-width: 80px;
        progress {
          background-color: crimson;
        }
      }
    }

		.label {
			font-size: 23px;
		}
		.num {
			font-size: 14px;
		}
  }

  .left {
    background-color: #282c34;
    border-radius: 5px;
  }

  .right {
    background-color: #282c34;
    border-radius: 5px;
  }
}
