add_newline = false

format = """$username$hostname$directory$git_branch$git_commit$git_state$git_metrics$git_status$memory_usage$jobs$battery$time$shell$cmd_duration
$status$character"""

[character]
success_symbol = "[λ](bold purple)"
error_symbol = "[λ](bold red)"
vicmd_symbol = "[λ](bold green)"

[[battery.display]]
threshold = 100

[memory_usage]
disabled = false
threshold = 1
format = "[${ram}]($style) "

[time]
disabled = false
use_12hr = true

[username]
show_always = false

[hostname]
disabled = false
ssh_only = true

[ruby]
detect_variables = ["RENV_VERSION"]
symbol = " "

[status]
disabled = false
symbol = ""

[battery]
full_symbol = "󰁹 "
charging_symbol = "󰂄 "
discharging_symbol = "󰁾 "
unknown_symbol = "󰂑 "
empty_symbol = "󰂎 "
